# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Nicolas\Documents\HEIG-VD\Annee 2\Semestre 4\PRO\App\PDFAuthenticator\PDFAuthenticator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
